 $background-lightblue-color: #e2f3f8;
 $font-color: #000000;
 $border-color: #b3afaf;
 $global-black-color: #000000;
 $global-white-color: #ffffff;
 $global-red-color: #ff0000;
 $global-green-color: #00bd09;
 $avatar-bg-color: #add8e6;
 $profile-stats-color: #c4ddfd;
 $global-sky-color: #1fc5f8;