@import "../../styles/shared.scss";

.ContactForm__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.ContactForm__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ContactForm__field-label {
    font-weight: 700;
    text-transform: uppercase;
    color: $global-black-color;
}

.ContactForm__input {
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: $input-box-shadow;
}

.ContactForm__input:focus {
    outline: 1px solid $global-green-color;
}

.ContactForm__submit-button {
    width: 100px;
    height: 30px;
    background-color: $global-white-color;
    border: none;
    border-radius: 5px;
    box-shadow: $input-box-shadow;
}

.ContactForm__submit-button:active {
    background-color: $global-green-color;
    color: $global-white-color;
}